In [1]:
import pandas as pd
DATA_PATH = "E:/VSProjekte/NutriGuard/prototyping/backend/data/dialysis.csv"
ID_START = 69420

df = pd.read_csv(DATA_PATH)
df

,index,food_id,name,category,kcal,protein,nacl,potassium,phosphate
0,0,69420,Ananas,Obst,59,0.5,0.0,173,9
1,1,69421,Apfel getrocknet,Obst,248,1.4,0.0,627,50
2,2,69422,Apfel roh,Obst,52,0.4,0.0,144,11
3,3,69423,Apfelmus,Obst,79,0.4,0.0,114,7
4,4,69424,Apfelsaft,Getränke,43,0.7,0.0,143,15
...,...,...,...,...,...,...,...,...,...
90,90,69510,Zucchini,Gemüse und Salate,28,1.3,0.0,135,42
91,91,69511,Zucchini gegart ohne Salz,Gemüse und Salate,19,1.6,0.0,167,23
92,92,69512,Zucker,Zucker und Salz,405,0.0,0.0,2,0
93,93,69513,Zwiebelkuchen Hefeteig,Brot Gebäck Pizza,167,4.0,0.0,195,60
94,94,69514,Öl (Pflanzenöl im Durchschnitt),Soßen Fette,881,0.0,0.0,0,1

In [2]:
def prepare_food_dataframe(df):
    # 1. Spalten umbenennen
    df = df.rename(columns={
        "foodname": "name",
        "kalium": "potassium"
    })
    
    df = df.sort_values('name', ascending=True)

    # 2. food_id generieren (z. B. fortlaufend)
    df["food_id"] = range(ID_START, len(df) + ID_START)

    # 3. Neue Spaltenreihenfolge definieren
    desired_order = [
        "food_id", "name", "category", 
        "kcal", "protein", "nacl", "potassium", "phosphate"
    ]

    # 4. DataFrame entsprechend umsortieren
    df = df[desired_order]
    df = df.reset_index(drop=True)

    return df

df = prepare_food_dataframe(df)

In [3]:
df.to_csv(DATA_PATH, index=False)